html,
body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    width: auto;
    font-weight: 500;
}

/*header*/
.main-header {
    width: 100%;
    background: #eeeeee;
}

.navigator {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 50px;
    width: 80.5555%;
}

.logo {
    align-items: flex-end;
    display: block;
    width: 160px;
    height: 65px;
    padding: 0;
    margin: 0;
    background: transparent url("../img/nerds-logo.png") no-repeat center
}

.navigator a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}

.navigator-center {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 36.666%;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.navigator-center li {
    list-style: none;
    padding: 0;
    margin: 0;
}


.navigator a:hover {
    color: #fb565a;
}

.navigaror a:active {
    color: rgba(0, 0, 0, 0.3);
}

.basket {
    margin-top: auto;
    margin-bottom: 15px;
    padding-left: 41px;
    position: relative;
}

.basket::after {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: transparent url("../img/sprites.png") no-repeat 0 0;
    top: 7px;
    left: 0;
}

/*----------------------------------*/

/*index-main*/
.index-main {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

/*slider*/
.slider {
    background: forestgreen;
    width: 100%;
    padding: 0 140px;
}

.slide {
    height: 354px;
    padding-top: 77px;
}
.slide h2 {
    font-size: 55px;
    line-height: 55px;
    padding: 0;
    margin: 0;
    margin-bottom: 23px;
}
.slide p {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    padding: 0;
    margin: 0;
    margin-bottom: 41px;
}
.about {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 17px 54px 15px;
    text-decoration: none;
    background: #fb565a;
    color: white;
    border-radius: 3px;
}

.slide1 {
    background: gold url("../img/slide1.png") no-repeat bottom right 31px;
}
.slide1 h2,
.slide1 p {
    width: 380px;
}
