/* Put your CSS code in the left column, instead of example, to put or remove unnecessary prefixes. */

html,
body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    width: auto;
    font-weight: 500;
}

/*header*/
.main-header {
    width: 100%;
    background: #eeeeee;
}

.navigator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 50px;
    width: 80.5555%;
}

.logo {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: block;
    width: 160px;
    height: 65px;
    padding: 0;
    margin: 0;
    background: transparent url("../img/nerds-logo.png") no-repeat center
}

.navigator a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}

.navigator-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 36.666%;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.navigator-center li {
    list-style: none;
    padding: 0;
    margin: 0;
}


.navigator a:hover {
    color: #fb565a;
}

.navigaror a:active {
    color: rgba(0, 0, 0, 0.3);
}

.current {
    position: relative;
}

.current::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fb565a;
    bottom: -9px;
}

.basket {
    margin-top: auto;
    margin-bottom: 15px;
    padding-left: 41px;
    position: relative;
}

.basket::after {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: transparent url("../img/sprites.png") no-repeat 0 0;
    top: 7px;
    left: 0;
}

/*----------------------------------*/

/*slider*/
.slider {
    margin-right: auto;
    margin-left: auto;
    width: 80.5555%;
    height: 431px;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.slide h2 {
    font-size: 55px;
    line-height: 55px;
    padding: 0;
    margin: 0;
    margin-top: 77px;
    margin-bottom: 24px;
}
.slide p {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    padding: 0;
    margin: 0;
    margin-bottom: 52px;
}
.about {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 17px 54px 15px;
    text-decoration: none;
    background: #fb565a;
    color: white;
    border-radius: 3px;
}

.about:hover {
    background: #e74246;
}

.about:active {
    color: rgba(255, 255, 255, 0.3);
    background: #d7373b;
}

.slide:nth-child(1) {
    background: transparent url("../img/slide1.png") no-repeat bottom  right 31px;
}
.slide:nth-child(1) h2,
.slide:nth-child(1) p {
    width: 390px;
}

.slide:nth-child(2) {
    background: transparent url("../img/slide2.png") no-repeat bottom right;
}
.slide:nth-child(2) h2,
.slide:nth-child(2) p {
    width: 535px;
}

.slide:nth-child(3) {
    background: transparent url("../img/slide3.png") no-repeat bottom right;    
}
.slide:nth-child(3) h2,
.slide:nth-child(3) p {
    width: 430px;
}

.slider-controls {
    width: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    left: 50%;
    margin-right: -44px;
    top: 318px;
    z-index: 1000;
}
.slider-controls label {
    position: relative;
    cursor: pointer;
    width: 4px;
    height: 4px;
    background: white;
    border:7px solid white;
    border-radius: 50%;
}

#slide-btn1:checked ~ .slider-controls label:nth-child(1)::after,
#slide-btn2:checked ~ .slider-controls label:nth-child(2)::after,
#slide-btn3:checked ~ .slider-controls label:nth-child(3)::after {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background: white;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
    cursor: pointer;
    top: -2px;
    left: -2px;
}

.slider input {
    display: none;
}

.slide {
    display: none;
}




#slide-btn1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#slide-btn2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#slide-btn3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

/*------------------------------------------*/
/*index-main*/
.index-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.products {
    width: 80.5555%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;
    padding: 0;
    padding-bottom: 81px;
    border-bottom: 2px solid #eeeeee;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.product {
    width: 300px;
    padding-right: 60px;
}

.product h2 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 21px;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.product p {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
}
.product:last-child p {
    width: 230px;
}

.product a {
text-decoration: none;
text-transform: uppercase;
color: white;
font-weight: 500;
font-size: 16px;
line-height: 18px;
padding: 17px 40px 14px;
background: #fb565a;
border-radius: 3px;
}

.product:first-child a:hover {
    background: #e74246;
}

.product:first-child a:active {
    color: rgba(255, 255, 255, 0.3);
    background: #d7373b;
} 

.product:nth-child(2) a {
    background: #00ca74;
}

.product:nth-child(2) a:hover {
    background: #00bc6c;
}

.product:nth-child(2) a:active {
    background: #00aa62;
    color: rgba(255, 255, 255, 0.3);
}

.product:last-child a {
    background: #efc84a;
}

.product:last-child a:hover {
    background: #eab534;
}

.product:last-child a:active {
    color: rgba(255, 255, 255, 0.3);
    background: #e5a722;
}

/*---------------------------------*/

.features {
    margin: 0;
    padding: 0;
    padding-bottom: 76px;
    padding-top: 40px;
    border-bottom: 2px solid #eeeeee;
    width: 80.5555%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.features-left {
    width: 680px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 43px;
}

.features-left b {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.features-left-text1 {
    margin: 0;
    margin-bottom: 44px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.features-left-text2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: black;
}

.features-left ul {
    margin: 0;
    padding: 0;
}

.features-left li {
    margin: 0;
    padding: 0;
    padding-left: 37px;
    list-style: none;
    margin-bottom: 29px;
    position: relative;
}

.features-left li:last-child {
    margin-bottom: 0;
}
.features-left li::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #fb565a;
    position: absolute;
    left: 0;
    top: 10px;
}

.features-right {
    width: 360px;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.features-right p {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.features-right div {
    -ms-flex-item-align: end;
        align-self: flex-end; 
    margin: 0;
    margin-top: 25px;
    padding: 0;
    width: 120px;
}

.features-right span:first-child {
    text-transform: uppercase;
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
}

.features-right span:last-child {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #283136;
    text-transform: none;
    vertical-align: right;
}

/*--------------------------------*/

/*projects*/
.projects {
    width: 80.5555%;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 2px solid #eeeeee;
}

.project {
    text-decoration: none;
    width: 25%;
    height: 177px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.project span {
    display: none;
}

.project img {
    opacity: 0.2;
}

.project:hover img {
    opacity: 1;
}

.project:active img {
    opacity: 0.1;
}
/*------------------------------*/

/*map*/
.map {
    width: 100%;
    height: 416px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: url("../img/map.png") no-repeat center top -151px;
}

.about-us {
    -ms-flex-item-align: center;
        align-self: center;
    background: white;
    width: 221px;
    padding: 54px 59px 47px 51px;
    margin-left: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.about-us h2 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
}

.about-us p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    margin: 0;
    margin-bottom: 17px
}

.about-us a {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
    padding: 17px 45px;
    background: #fb565a;
    color: white;
    border-radius: 3px;
}

.about-us a:hover {
    background: #e74246;
}

.about-us a:active {
    color: rgba(255, 255, 255, 0.3);
    background: #d7373b;
} 


/*-----------------------------*/

/*footer*/

.main-footer {
    width: auto;
    margin: 0 auto;
    padding: 70px 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.social-group {
    width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.social span {
    display: none
}

.social {
    display: block;
    width: 79px;
    height: 79px;
    background: #e1e1e1 url("../img/sprites.png") no-repeat;
    border-radius: 50%;
}

.vk {
    background-position:  0 -173px;
}
.vk:hover {
    background: #e74246 url("../img/sprites.png") no-repeat 0 -173px;
}
.vk:active {
    background: #d7373b url("../img/sprites.png") no-repeat 0 -173px;
}

.fb {
    background-position: 0 -15px;
}
.fb:hover {
    background: #e74246 url("../img/sprites.png") no-repeat 0 -15px;
}
.fb:active {
    background: #d7373b url("../img/sprites.png") no-repeat 0 -15px;
}

.ins {
    background-position: 0 -94px;
}
.ins:hover {
    background: #e74246 url("../img/sprites.png") no-repeat 0 -94px;
}
.ins:active {
    background: #d7373b url("../img/sprites.png") no-repeat 0 -94px;
    
}


.frends {
    margin-right: 18%;
}

.frends b {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    vertical-align: middle;
}

.frends p {
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    vertical-align: middle;
}

/*-----------------------*/

/*modal*/

.modal {
    display: none;
}

.modal-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 760px;
    background: white;
    position: fixed;
    z-index: 1500;
    left: 15%;
    bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 70px 100px 86px;
    -webkit-box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.modal-open h2 {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    font-size: 45px;
    line-height: 45px;
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
}

.modal-open div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 35px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.modal-open input[type="text"],
.modal-open input[type="email"],
.modal-open textarea {
    padding: 16px 14px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    width: 328px;
}
.modal-open input[type="text"]:hover,
.modal-open input[type="email"]:hover,
.modal-open textarea:hover {
    border-color: #b4b9bb;
}

.modal-open input[type="text"]:focus,
.modal-open input[type="email"]:focus,
.modal-open textarea:focus {
    border-color: #000000;
}

.modal-open label {
    display: inline-block;
    width: 360px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 9px;
}

.modal-open textarea {
    width: 728px;
}

.modal-open input[type="submit"] {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 17px 84px 15px 82px;
    border: none;
    background: #fb565a;
    color: white;
    border-radius: 3px;
    margin: 0;
    margin-top: 45px;
    cursor: pointer;
}
.modal-open input[type="submit"]:hover {
    background: #e74246;
}

.modal-open input[type="submit"]:active {
    color: rgba(255, 255, 255, 0.3);
    background: #d7373b;
} 

.modal-close {
    position: absolute;
    height: 16px;
    top: 85px;
    right: 100px;
    font-size: 0;
    border: 0;
    background: 0 0;
    cursor: pointer;
    outline: 0;
}

.modal-close::after,
.modal-close::before {
    position: absolute;
    display: block;
    content: "";
    width: 26px;
    height: 5px;
    border-radius: 1px;
    background: rgba(259, 86, 90, 0.3);
    top: 8px;
    left: -1px;
    cursor: pointer;
}

.modal-close::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-close::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.modal-close:hover::after,
.modal-close:hover::before {
    background: rgba(259, 86, 90, 1);
}

.modal-close:active::after,
.modal-close:active::before {
    background: rgba(259, 86, 90, 0.1);
}
/*======================================*/